<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
{{ partial "head.html" . }}
<body>
  {{ partial "header.html" . }}
  <main>
    <div class="container">
      {{ block "main" . }}{{ end }}
    </div>
  </main>
  {{ partial "footer.html" . }}
  <script>
    document.querySelector('.nav-toggle').addEventListener('click', function () {
      document.querySelector('.nav-links').classList.toggle('open');
    });
  </script>
  <script src="{{ "js/copy.js" | relURL }}" defer></script>
</body>
</html>
